{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Library Management System</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="homePageCSS.css"> -->
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Nav bar start -->
    <nav class="nav justify-content-center">
        
    </nav>
    
    <!-- Nav bar end -->
    
        <section class="searchResult">           
                        
                <p class = "searchHeading display-5 text-center m-3 p-1" name="searchHeading">Login to the system</p>              
                    
                <div class="container border border-secondary w-50">                                                              
                                                
                    <form class="p-2" action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group p-2 m-2">
                          
                          <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>                          
                        
                        <div class="form-group p-2 m-2">
                          
                          <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>                        
                        
                        <div class="input-group-append text-center p-2 m-2">
                            <button class="btn btn-outline-secondary btn-lg col-4 mx-auto" name="loginbtn" type="submit">Log in</button>
                        </div>                       
                        <div class="input-group-append text-center p-2 m-2">
                            <button class="btn btn-outline-secondary btn-lg col-4 mx-auto" name="signbtn" type="submit"><a href="{% url 'login:signup' %}">Sign Up</a></button>
                        </div>
                    </form>
                    {% if messages %}
                    <p class="loginmessage text-center w-50">                       
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }} 
                        </div>                                                                           
                        {% endfor %}
                        </p>
                    {% endif %}  

                </div>
                
                           
              
        </section>
       
    
    <!-- Footer start -->
    <footer class="page-footer">
        <p>© 2022 Copyright Vaibhav Tyagi</p>   
    </footer>
    <!-- Footer End -->
</body>
</html>